.Header{
	height: 60vh;
}

.Header, .hero{
	color: var(--black);
	background-size: cover;
	background-color: var(--white);
}

.Header, section{
	margin-bottom: var(--space);
}

.Header h1 {
	font-size: 3rem;
}

.Header h2 {
	font-size: 2rem;
}

.Header h3 {
	font-size: 1rem;
}

.Header * {
	margin: 2px 0;
}