.Navbar {
    height: 60px;
    line-height: 30px;
    background-color: var(--primary);
    color: var(--accent);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 997;
    width: 100%;
}

.Navbar * {
    margin: 0;
}

.Navbar a, .Navbar a:hover, .Navbar a:active {
    color: var(--accent);
    text-decoration: none;
    border: none;
    background: none;
}